.hero{
    background: url("../images/hero.jpeg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: scaleX(-1);
    transform-origin: top right;
}


.glassmorphism {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.4);
}
